<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd ">

	<!-- 自动扫描组件 -->

	<context:component-scan base-package="com.westar.*.dao" />
	
	<!-- 配置数据源,采用druid数据源 -->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
		<property name="driverClassName">
			<value>${jdbc.driverClassName}</value>
		</property>
		<property name="url">
			<value>${jdbc.url}</value>
		</property>
		<property name="username">
			<value>${jdbc.username}</value>
		</property>
		<property name="password">
			<value>${jdbc.password}</value>
		</property>
		<property name="initialSize">
			<value>${druid.initialSize}</value>
		</property>
		<property name="minIdle">
			<value>${druid.minIdle}</value>
		</property>
		<property name="maxActive">
			<value>${druid.maxActive}</value>
		</property>
		<property name="maxWait">
			<value>${druid.maxWait}</value>
		</property>
		<property name="timeBetweenEvictionRunsMillis">
			<value>${druid.timeBetweenEvictionRunsMillis}</value>
		</property>
		<property name="minEvictableIdleTimeMillis">
			<value>${druid.minEvictableIdleTimeMillis}</value>
		</property>
		<property name="validationQuery">
			<value>${druid.validationQuery}</value>
		</property>
		<property name="testWhileIdle">
			<value>${druid.testWhileIdle}</value>
		</property>
		<property name="testOnBorrow">
			<value>${druid.testOnBorrow}</value>
		</property>
		<property name="testOnReturn">
			<value>${druid.testOnReturn}</value>
		</property>
		<property name="poolPreparedStatements">
			<value>${druid.poolPreparedStatements}</value>
		</property>
		<property name="maxPoolPreparedStatementPerConnectionSize">
			<value>${druid.maxPoolPreparedStatementPerConnectionSize}</value>
		</property>
	</bean>

	<!-- 配置JdbcTemplate -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="lobHandler" class="org.springframework.jdbc.support.lob.OracleLobHandler" lazy-init="true" />
	<bean id="defaultLobHandler" class="org.springframework.jdbc.support.lob.DefaultLobHandler" lazy-init="true" />
</beans>
  